<div id="headerBar">
	<a class="logoLink" href="https://www.livestories.com/">
    <img src="img/livestories_logo.png" width="30" height="30" class="d-inline-block align-top" id="websiteIcon"></a>
    <h1 id="headerTitle"> Open Source Civic Data</h1>
</div>