<div class="container dataVisual">
	<div class="row" id="d3_visual">
	</div>

	<div id="d3_visual2">
	</div>
 </div>

<script>
	var results = <%- JSON.stringify(dataSet) %>;
	var titles = results[0]
	var rawData = results[1]
</script>

<!-- External JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- D3 -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<!--Internal JS -->
<script src="/js/helpers/helperFunctions.js"></script>
<script src="/js/helpers/county_code_ref.js"></script>
<script src="/js/mapVisual.js"></script>
<script src="/js/barChart.js"></script>