<div class="container intro">
	<div class="row introtext">
		<h1 id="landingPageHeader">Learn about WA counties 
			<span class="type text-info"></span>
		 </h1>
	</div>
</div>
<div class="container dataVisual">
	<div class="row">
			<div class="col-8" id="d3_visual">
				<h2> Unemployment by County</h2>
				<div id="tooltip" class="hidden">
	            	<p id="county"></p>
	            	<p id="rate"></p>
	        	</div>
	        </div>
			<div class="col-4" id="d3_visual2">
			</div>
		</div>
</div>

<script>
	var results = <%- JSON.stringify(dataSet) %>;
	var titles = results[0]
	var rawData = results[1]
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="/js/type.js"></script> 
<script src="/js/script.js"></script> 
<script src="/js/helpers/helperFunctions.js"></script>
<script src="/js/helpers/county_code_ref.js"></script>
<script src="/js/mapVisual.js"></script>
<script src="/js/barChart.js"></script>