<h1> Home Route </h1>
<hr>

<div class="container-fluid">
	<h1 id="dataSetTitle"></h1>
	<div class="row" id="firstRow">
		<div class="col mx-auto"" id="d3_visual">
			<h2> Unemployment by County</h2>
			<div id="tooltip" class="hidden">
            <p id="county"></p>
            <p id="rate"></p>
        </div>
        </div>
		<div class="col mx-auto">
			<h2 id="countyTitle">Education Distribution: </h2>
			<div id="visual2">
			</div>
		</div>
	</div>
</div>

<script>
	var results = <%- JSON.stringify(dataSet) %>;
	var titles = results[0]
	var rawData = results[1]
</script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="/js/helpers/helperFunctions.js"></script>
<script src="/js/mapVisual.js"></script>
<script src="/js/barChart.js"></script>