/************************/
/************************/

html,body,.container {
	font-family: 'Barlow', sans-serif;
  	position: relative;
    height:100%;
}

.container {
    display:table;
    width: 100%;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
	margin-top: 20px;
    height: 100%;
}


/********************/
/* Nav Bar Styling  */
/********************/

a {
	color: #E6E6E6;
}

.navbar,.navbar-default {
	
	background-color: #20252b !important;
}

#websiteIcon {
	margin-right: 10px;
}

/************************/
/* Intro */
/************************/
.intro {
  height: 100%;
  padding: 200px 0;
  padding-left: 50px;
padding-right: 50px;
  background-color: #E6E6E6;
  text-align: center;
}

#landingPageHeader{
	font-size: 58px;
}
.introtext{
	text-align: center;
}
.type{
	color:black;
	text-decoration: underline;
}

.text-info{
	color: #0A536F !important;
}
.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/************************/
/* D3 Bar Graph Styling */
/************************/


.dataVisual {
  
  padding-left: 50px;
padding-right: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

#viz2_container{
	height: 100%;
}
.nv-y .tick line { display: none; }

.yaxis line{
  display: none;
}

.yaxis path{
  display: none;
}

.label{
	font-size: 10px;
}


path:hover {
fill:#48494b;
cursor:pointer;
}

#tooltip {
width: 150px;
height: auto;
padding: 5px;
background-color: #fff;
color: #000;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
pointer-events: none;
position: absolute;
}

#tooltip.hidden {
display: none;
}

#tooltip p {
margin: 0;
font-size: 14px;
line-height: 18px;
}

