<h1> Home Route </h1>
<hr>
<h2> D3 Map will go below here <h2>
<div class="container-fluid">
	<h1 class="title">US Counties</h1>
	<div class="row">
		<div class="col">
			<svg class = "main_data_point" width="960" height="600"></svg>
		</div>
		<div class="col">
			<h2> Other D3 Visual will go here</h2>
		</div>
	</div>
</div>